### Pandas Series Structure

In [1]:
import pandas as pd

In [3]:
# call the Series function in pandas and pass in the students
student = ['Alice','Jack','Molly']
pd.Series(student)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
number = [1,2,3]
pd.Series(number)

0    1
1    2
2    3
dtype: int64

- We try to see the impact of "None" in the following codes

In [5]:
student = ['Alice','Jack',None]
pd.Series(student)

0    Alice
1     Jack
2     None
dtype: object

If we create a list of numbers, integers or floats, and put in the "None" type, pandas automatically converts this to a special floating point value designated as "NaN" (a numeric value)

In [6]:
number = [1,2,None]
pd.Series(number)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np

In [8]:
np.nan == None

False

A series can be creasted directly from dictionary data.

In [9]:
student_scores = {'Alice':'Physics',
                  'Jack':'Chemistry',
                  'Molly': 'English'}
s = pd.Series(student_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [10]:
s.index # a list of string

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [12]:
# The dtype of object is not just for strings, but for arbitrary objects.
# For example, we can create a list of tuples
students = [("Alice","Brown"),("Jack","White"),("Molly","Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [15]:
s = pd.Series(['Physics','Chemistry','English'], index = ['Alice','Jack','Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [16]:
# the case when we don't have "SAM"
student_scores = {'Alice':'Physics',
                  'Jack':'Chemistry',
                  'Molly': 'English'}
s = pd.Series(student_scores, index = ['Alice','Jack','Sam'])
s

Alice      Physics
Jack     Chemistry
Sam            NaN
dtype: object